* {
     color: rgb(94, 90, 90);
    font-family: 'Roboto', sans-serif;
}

.section {
    display: flex;
    flex-direction: column;
}

.button {
    width: 70px;
    border:none;
    background-color: rgb(62, 233, 219);
    color: aliceblue;
    margin-top: 15px;
    border-radius: 3px;
    padding: 5px;
}

.input {
    width: 200px;
    margin-top: 15px;
    background-color: rgb(238, 235, 235);
    border: none;
    padding: 10px;
    border-radius: 3px;
}


.paragraph {
    border: solid 4px gainsboro;
    padding: 5px;
    width: 400px;
    font-weight: 400;
}